*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



body{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    background-color: pink;
    width: 30vw;
    justify-content: center;
    align-items: center;


}

.container{
    background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
}

header{
    background-color: tomato;
    width: 70vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
aside{
    background-color: beige;
    display: flex;
    width: 70vw;
    flex-grow: 5;
    
}
article{
    background-color: aqua;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: blueviolet;
    flex-grow: 1;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}